.jumbo-narrow {

    padding: 10px;
	margin-top: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee
}

.jumbo-narrow h1{
    color: inherit
}

.jumbo-narrow p {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200
}

.jumbo-narrow hr {
    border-top-color: #d5d5d5
}

.container .jumbo-narrow {
    border-radius: 6px
}

.jumbo-narrow .container {
    max-width: 100%
}
#postView {
	padding-top: 30px;

}

.article h3{
    margin-top: 0px;
    min-height: 60px;
}

.article p {
    min-height: 60px;
}